* {
    padding: 0;
    margin: 0;
    border: 0;
    color: #dedede;
    font-family:'Nanum Gothic',나눔고딕,'Malgun Gothic',맑은고딕,UnDotum,Dotum,Arial,Sans;
}
body {
    background: url('bg.png') repeat-x scroll 0 0 #1a1a1a;
    width: 100%;
    text-align: left;
}
#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 992px;
}
#head {
    position: relative;
    background: url('adventcal.png') no-repeat scroll 185px 0;
    height: 160px;
}
#head p {
    display: none;
}
#head a.back {
    position: absolute;
    top: 132px;
    left: 28px;
    font-size: 14px;
}
#head a.back:hover {
    text-decoration: none;
}
#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#like {
    z-index: 3;
    position: absolute;
    padding-top: 12px;
    margin-top: 46px;
    height: 116px;
}
#like li {
    list-style-type: none;
    display: block
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
}
#like li.twt {
    height: 20px;
}
#like li.fb {
    height: 80px;
}
#menu {
    z-index: 2;
    position: absolute;
    display: block;
    padding-top: 12px;
    top: 0;
    left: 0;
}
#menu li {
    list-style-type: none;
    font-size: 14px;
}
#menu li a {
    text-decoration: none;
}
#menu li a:hover {
    text-decoration: underline;
}
#menu li.large {
    font-size: 17px;
    margin-bottom: 15px;
}
#menu li.nook {
    font-size: 14px;
    margin-bottom: 138px;
}
#menu li.bold, #menu li.bold a {
    color: #ffffff;
    font-weight: bold;
}
#menu li.margin {
    margin-top: 12px;
}
#menu li .disc {
    background-color: #101010;
    color: #ffffff;
    margin-top: 20px;
    padding: 5px;
    font-size: 12px;
    width: 180px;
}
#cont-wrap {
    background: url('cont_br.png') no-repeat 0 0;
    background-color: #1a1a1a;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 264px;
}
#cont {
    position: relative;
}
#cont-main {
    width: 743px;
    padding-right: 4px;
}
#cont-side {
    position: absolute;
    width: 194px;
    float: right;
    top: -10px;
    right: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
    border-left: 1px solid #0f0f0f;
    font-size: 16px;
    line-height: 120%;
}
#cont-side p, #cont-side ul {
    margin-bottom: 18px;
}
#cont-side ul {
    list-style-type: none;
}
#cont-side .like li {
    display: inline-block;
}
#book, #link, #live-traffic {
    margin-top: 10px;
    margin-bottom: 10px;
}
#cont-side .icon {
    color: red;
    font-size: 0.8em;
}
#book img {
    display:block;
    width:100px;
}
#link li {
    line-height: 1.2em;
    font-size: 0.8em;
}
#cont-side li {
    list-style: none;
}
#cont-side a {
    text-decoration: none !important; 
}
#cont-side a:hover {
    text-decoration: underline !important;
}
#cont-side strong {
    color: orange;
    font-weight: bold;
}
#cont-wrap h1 {
    display: block;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #0f0f0f;
}
#cont h2 {
    display: table;
    background-color: #345f53;
    padding: 6px 10px 10px 10px;
    border-bottom: 3px solid #244139;
    border-right: 2px solid #1b322c;
    margin-top: 40px;
    margin-bottom: 6px;
    font-size: 24px;
}
#cont-main p, #cont-main ul {
    line-height: 180%;
    margin-bottom: 20px;
}
#cont-main ul {
    margin-left: 30px;
}
#cont-main code {
    color: yellow;
}
#cont-main em {
    font-weight: bold;
    text-decoration: underline;
}
#cont-main a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
}
#cont-main a:hover {
    color: yellow;
    text-decoration: underline;
}
#foot {
    margin-top: 120px;
    margin-bottom: 40px;
    padding-left: 74px;
}
#foot p {
    position: absolute;
    display: block;
    margin-left: 186px;
    padding-top: 4px;
    padding-left: 100px;
    font-size: 12px;
    color: #666;
}
