* {
    padding: 0;
    margin: 0;
    color: white;
    border: 0;
    font-family:'Nanum Gothic',나눔고딕,'Malgun Gothic',맑은고딕,UnDotum,Dotum,Arial,Sans;
  }
pre, code {
    font-family: Monospace;
}
body {
    background: url(bg.gif) repeat-x scroll 0 0 #1a1a1a;
    width:100%;
    text-align:left;
}
#wrapper.flu {
    max-width: 990px;
    margin: 0 auto;
}
#wrapper.fix {
    width: 990px;
    margin: 0 auto;
}
#header img {
    margin: 0 auto;
    display: block;
}
#book, #link, #live-traffic {
    margin-top: 10px;
    margin-bottom: 10px;
}
#book img {
    display:block;
    width:100px;
}
#link li {
    line-height: 1.2em;
    padding-bottom: 0.6em;
    font-size: 0.8em;
}
#twit {
    top-margin: 400px;
}
#content-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
#content.flu {
    position: relative;
    max-width: 760px;
    padding-left: 9px;
    padding-right: 9px;
}
#content.fix {
    float: left;
    width: 760px;
    padding-left: 9px;
    padding-right: 9px;
}
#sidebar.flu {
    position: absolute;
    float: right;
    width: 200px;
    top: 0;
    right: -200px;
}
#sidebar.fix {
    float: right;
    width: 200px;
}
#sidebar li {
    list-style: none;
}
#sidebar a {
    text-decoration: none !important; 
}
#sidebar a:hover {
    text-decoration: underline !important;
}
#sidebar strong {
    color: orange;
    font-weight: bold;
}
#sidebar .icon {
    color: red;
    font-size: 0.8em;
}
#footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #777;
}
#footer em, b, strong { color: #aaa }
#header p { display: none; }

.calendar {
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:750px;
}
.calendar .title{
    margin:17px 11px 26px 11px;
    text-align:center;
}
.calendar .title h3{font-size: 25px; color: #ddd}
.calendar a{text-decoration: none !important; color: #666}
.calendar table thead{display: none}
.calendar table{width:500px; margin: 0 auto 26px; border: 0}
.calendar table td{padding:0;border:0}
.calendar table td.col {border:#444 solid 2px;color:#666}
.calendar table td.selectable a{border:#aaa solid 2px;color:#ccc;font-weight: bold;}
.calendar table td.today a{background:#3a3a4a;color:yellow}
.calendar table td a{display:block;width:70px;padding:12px 0 12px; text-align:center;letter-spacing:-1px;}
#doc {
    margin-top: 30px;
}
#doc h1 { margin-bottom: 30px }
#doc h2, #doc h3, #doc h4, #doc h5, #doc h6 { line-height: 250%; }
#doc a {
    color: orange;
    font-weight: bold;
    text-decoration: none !important; 
}
#doc a:hover {
    text-decoration: underline !important;
}
#doc p {
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#doc p img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: 1px solid white;
}
#doc code {
    color: yellow;
}
#doc pre {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    border: 1px dashed white;
    padding: 10px;
    overflow: auto;
}
#doc ul, #doc ol {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#doc li {
    line-height: 150%;
}
#doc em {
    text-decoration: underline;
    font-weight: bold;
}
#doc blockquote {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    border: 1px dashed white;
    padding: 10px;
    font-style: italic;
}
#docmeta {
    display: none;
}
.nav {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav ul {
  list-style:none outside none;
}
.nav li {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.nav a {
    color: yellow;
    font-weight: bold;
    text-decoration: none !important; 
}
.nav a:hover {
    text-decoration: underline !important;
}
#sponsor {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}
#ribbon {
    width:100px;
    height:84px;
    left:24px;
    position: absolute;
    z-index:25
}
#sponsor-site{
    color:#999;
    background-color:#fff;
    position: absolute;
    top: 30px;
    padding-top:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px
}
#sponsor-site, #ribbon {
    filter:alpha(opacity=66);
    -moz-opacity:.66;
    opacity:.66
}
#sponsor-site {
    color:rgb(0,0,0);
    color:rgba(0,0,0,1)
}
#sponsor-site img {
    display:block;
    padding:3px 0px;
    margin-left:auto;
    margin-right:auto;
    width:100px;
}
#sponsor-site p {
    color: black;
    width:150px;
}
#sponsor-placeholder {
    margin-bottom: 140px;
    color: #1a1a1a;
}
#disqus_thread {
    width: 700px;
    margin-top: 20px;
    margin-left: 80px;
}
