@font-face {
    font-family: 'NanumMyeongjoExtraBoldWeb';
    font-style: normal;
    font-weight: 800;
    src: url('NanumMyeongjoExtraBoldCompact.woff') format('woff');
}
@font-face {
    font-family: 'NanumMyeongjoWeb';
    font-style: normal;
    font-weight: 400;
    src: url('NanumMyeongjoCompact.woff') format('woff');
}
* { margin: 0; padding: 0; }
#wrap {
    width: 760px;
    margin: 0 auto;
}
#head {
    margin-top: 20px;
}
h1, h2, h3, h4 {
    display: block;
    font-family: 'NanumMyeongjoExtraBoldWeb';
    white-space: pre;
}
h1 {
    font-size: 36px;
    margin: 1em 0 0.5em 0;
}
h2 {
    font-size: 28px;
    margin: 1.4em 0 0.5em 0;
}
h3 {
    font-size: 20px;
    margin: 1.4em 0 0.5em 0.4em;
}
#cont a {
    color: black;
}
#cont a:hover {

}
#cont {
    font-family: 'NanumMyeongjoWeb';
    font-size: 18px;
    line-height: 2em;
}
#cont p, #cont ul{
    display: block;
    margin-left: 12px;
    margin-bottom: 1.6em;
}
#cont ul {
    margin-top: 16px;
    margin-bottom: 16px;
    list-style: none;
}
#cont li {
    margin: 8px 0 8px 12px;
    padding-left: 50px;
    background: url("bullet.gif") no-repeat scroll 0 0 transparent;
}
.hidden {
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
}
#cont .syntaxhighlighter {
    margin-top: -1em !important;
}