@font-face {
    font-family: 'NanumMyeongjoExtraBoldWeb';
    font-style: normal;
    font-weight: 800;
    src: url('NanumMyeongjoExtraBoldCompact.woff') format('woff');
}
@font-face {
    font-family: 'NanumMyeongjoWeb';
    font-style: normal;
    font-weight: 400;
    src: url('NanumMyeongjoCompact.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
    font-family:'Nanum Gothic',나눔고딕,'Malgun Gothic',맑은고딕,UnDotum,Dotum,Arial,Sans;
}
#wrap {
    width: 690px;
    margin: 0 auto;
}
#head {
    margin-top: 8px;
}
#head menu.nav {
    display: inline-block;
    float: right;
    margin-top: 4px;
}
#head menu.nav a {
    display: block;
    height: 44px;
}
#head menu.nav li {
    display: inline-block;
    float: left;
    background: url("nav.gif");
    height: 44px;
    margin-left: 4px;
}
#head menu.nav li.prev,
#head menu.nav li.prev a {
    background-position: 0 0;
    width: 60px;
}
#head menu.nav li.twit,
#head menu.nav li.twit a {
    background-position: -60px 0;
    width: 53px;
}
#head menu.nav li.feed,
#head menu.nav li.feed a {
    background-position: -113px 0;
    width: 44px;
}
#head menu.nav li.chat,
#head menu.nav li.chat a {
    background-position: -157px 0;
    width: 61px;
}
#head menu.nav li.next,
#head menu.nav li.next a {
    background-position: -218px 0;
    width: 57px;
}
h1, h2, h3, h4 {
    display: block;
    font-family: 'NanumMyeongjoExtraBoldWeb';
    white-space: pre;
}
h1 {
    font-size: 2.2em;
    margin: 1em 0 0 -0.4em;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 0.4em;
}
h2 {
    font-size: 1.8em;
    margin: 1.4em 0 0.5em -1em;
}
h3 {
    font-size: 1.4em;
    margin: 1.4em 0 0.5em -0.6em;
}
#cont a {
    color: black;
}
#cont a:hover {

}
#cont {
    font-family: 'NanumMyeongjoWeb';
    font-size: 18px;
    line-height: 2em;
}
#cont p, #cont ul{
    display: block;
    margin-bottom: 1.6em;
    text-align: justify;
}
#cont ul {
    margin-top: 1em;
    margin-bottom: -0.6em;
    list-style: none;
}
#cont li {
    margin: 8px 0 8px 12px;
    padding-left: 50px;
    background: url("bullet.gif") no-repeat scroll 4px 4px transparent;
}
#cont em {
    font-weight: bold;
}
#cont code {
    background-color: #f4f4f4;
    padding: 4px;
}
.hidden {
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
}
#cont .syntaxhighlighter {
    margin-top: -1em !important;
}