* {
    margin: 0;
    padding: 0;
    font-family:'Nanum Gothic',나눔고딕,'Malgun Gothic',맑은고딕,UnDotum,Dotum,Arial,Sans;
}
#wrap {
    width: 690px;
    margin: 0 auto;
    background: url("hr.png") repeat-x scroll -4px 0;
    min-height: 100px;
    overflow: visible;
}
#head {
    margin-left: 57px;
    padding-top: 30px;
    width: 576px;
    height: 370px;
    background: url("head.png") no-repeat scroll 0 30px transparent;
}
#cont {
    margin-top: 14px;
}
#gifts {
    display: inline-block;
    margin: 0 52px 0 40px;;
}
#gifts li {
    float: left;
    display: block;
    margin-left: 25px;
    margin-bottom: 10px;
    background: url("num.png") no-repeat scroll 0 0 transparent;
    width: 70px;
    height: 80px;
}
#gifts a { 
    display: block;
    width: 70px;
    height: 80px;
}
#foot {
    position: relative;
    width: 706px;
    height: 348px;
    margin-top: 15px;
    margin-bottom: 16px;
    background: url("camel.png") no-repeat scroll 330px 0 transparent;
}
#foot .indent {
    margin-left: 63px;
}
#foot ul.detail {
    line-height: 2em;
    list-style: none;
}
#foot ul.detail li {
    margin-left: -28px;
    padding-left: 28px;
    background: url("bullet2.gif") no-repeat 0 6px transparent;
}
#foot ul.like {
    margin-top: 30px;
    list-style: none;
}
#foot ul.icon {
    position: absolute;
    display: block;
    bottom: 21px;
    list-style: none;
}
#foot ul.icon li {
    float: left;
    margin-right: 10px;
}
#foot .copyright {
    position: absolute;
    font-size: 12px;
    bottom: -12px;
}
#foot .copyright a {
    text-decoration: none;
}
#foot .copyright a:hover {
    text-decoration: underline;
}
#foot a {
    color: #000;
}
#comment {
    background: url("hr.png") repeat-x scroll -4px 0 transparent;
    margin-top: 30px;
    padding-top: 40px;
}
#popup {
    display: none;
    position: absolute;
    background: url("popup.gif") no-repeat scroll 0 0 transparent;
    width: 230px;
    height: 168px;
}
#popup .inner {
    margin-top: 24px;
    margin-left: 33px;
    width: 166px;
    height: 97px;
    overflow: hidden;
}
#popup_text {
    display: block;
    margin-top: 19px;
}
#popup_text .title {
    display: block;
    word-break: keep-all;
    text-align: center;
}
#popup_text .title_small {
    font-size: 0.8em;
}
#popup_text .author {
    margin-top: 0.8em;
    margin-right: 0.8em;
    font-size: 0.8em;
    float: right;
}
.hidden {
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
}
#gifts .gift_1 { background-position: 0px 0; }
#gifts .gift_2 { background-position: -70px 0; }
#gifts .gift_3 { background-position: -140px 0; }
#gifts .gift_4 { background-position: -210px 0; }
#gifts .gift_5 { background-position: -280px 0; }
#gifts .gift_6 { background-position: -350px 0; }
#gifts .gift_7 { background-position: -420px 0; }
#gifts .gift_8 { background-position: -490px 0; }
#gifts .gift_9 { background-position: -560px 0; }
#gifts .gift_10 { background-position: -630px 0; }
#gifts .gift_11 { background-position: -700px 0; }
#gifts .gift_12 { background-position: -770px 0; }
#gifts .gift_13 { background-position: -840px 0; }
#gifts .gift_14 { background-position: -910px 0; }
#gifts .gift_15 { background-position: -980px 0; }
#gifts .gift_16 { background-position: -1050px 0; }
#gifts .gift_17 { background-position: -1120px 0; }
#gifts .gift_18 { background-position: -1190px 0; }
#gifts .gift_19 { background-position: -1260px 0; }
#gifts .gift_20 { background-position: -1330px 0; }
#gifts .gift_21 { background-position: -1400px 0; }
#gifts .gift_22 { background-position: -1470px 0; }
#gifts .gift_23 { background-position: -1540px 0; }
#gifts .gift_24 { background-position: -1610px 0; }
#gifts .gift_1.bold { background-position: 0px -80px; }
#gifts .gift_2.bold { background-position: -70px -80px; }
#gifts .gift_3.bold { background-position: -140px -80px; }
#gifts .gift_4.bold { background-position: -210px -80px; }
#gifts .gift_5.bold { background-position: -280px -80px; }
#gifts .gift_6.bold { background-position: -350px -80px; }
#gifts .gift_7.bold { background-position: -420px -80px; }
#gifts .gift_8.bold { background-position: -490px -80px; }
#gifts .gift_9.bold { background-position: -560px -80px; }
#gifts .gift_10.bold { background-position: -630px -80px; }
#gifts .gift_11.bold { background-position: -700px -80px; }
#gifts .gift_12.bold { background-position: -770px -80px; }
#gifts .gift_13.bold { background-position: -840px -80px; }
#gifts .gift_14.bold { background-position: -910px -80px; }
#gifts .gift_15.bold { background-position: -980px -80px; }
#gifts .gift_16.bold { background-position: -1050px -80px; }
#gifts .gift_17.bold { background-position: -1120px -80px; }
#gifts .gift_18.bold { background-position: -1190px -80px; }
#gifts .gift_19.bold { background-position: -1260px -80px; }
#gifts .gift_20.bold { background-position: -1330px -80px; }
#gifts .gift_21.bold { background-position: -1400px -80px; }
#gifts .gift_22.bold { background-position: -1470px -80px; }
#gifts .gift_23.bold { background-position: -1540px -80px; }
#gifts .gift_24.bold { background-position: -1610px -80px; }
#gifts .on a:hover { background-image: url("gift.gif"); }
#gifts .gift_1.on a:hover { background-position: 0 0; }
#gifts .gift_2.on a:hover { background-position: -70px 0; }
#gifts .gift_3.on a:hover { background-position: -140px 0; }
#gifts .gift_4.on a:hover { background-position: 0 0; }
#gifts .gift_5.on a:hover { background-position: -70px 0; }
#gifts .gift_6.on a:hover { background-position: -140px 0; }
#gifts .gift_7.on a:hover { background-position: -140px 0; }
#gifts .gift_8.on a:hover { background-position: 0 0; }
#gifts .gift_9.on a:hover { background-position: -70px 0; }
#gifts .gift_10.on a:hover { background-position: -140px 0; }
#gifts .gift_11.on a:hover { background-position: 0 0; }
#gifts .gift_12.on a:hover { background-position: -70px 0; }
#gifts .gift_13.on a:hover { background-position: -70px 0; }
#gifts .gift_14.on a:hover { background-position: -140px 0; }
#gifts .gift_15.on a:hover { background-position: 0 0; }
#gifts .gift_16.on a:hover { background-position: -70px 0; }
#gifts .gift_17.on a:hover { background-position: -140px 0; }
#gifts .gift_18.on a:hover { background-position: 0 0; }
#gifts .gift_19.on a:hover { background-position: 0 0; }
#gifts .gift_20.on a:hover { background-position: -70px 0; }
#gifts .gift_21.on a:hover { background-position: -140px 0; }
#gifts .gift_22.on a:hover { background-position: 0 0; }
#gifts .gift_23.on a:hover { background-position: -70px 0; }
#gifts .gift_24.on a:hover { background-position: -140px 0; }
